function Main.main 2
call Game.new 0
pop local 0
push local 0
call Game.run 1
pop temp 0
push local 0
call Game.dispose 1
pop temp 0
call Theme.new 0
pop local 1
push local 1
call Theme.run 1
pop temp 0
push local 1
call Theme.dispose 1
pop temp 0
push constant 0
return
