function Theme.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
call LinkedList.new 0
pop this 5
call LinkedList.new 0
pop this 6
push constant 0
not
call Castle.new 1
pop this 3
push constant 0
call Castle.new 1
pop this 4
call GameUI.new 0
pop this 7
call Money.new 0
pop this 8
push constant 0
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 0
pop this 12
push constant 0
pop this 13
push constant 0
pop this 14
push pointer 0
return
function Theme.getTargetDog 5
push argument 0
pop pointer 0
push constant 60
pop local 2
push this 5
call LinkedList.getFront 1
pop local 4
push constant 0
pop local 1
label WHILE_EXP0
push local 4
push constant 0
eq
not
not
if-goto WHILE_END0
push local 4
call Element.getData 1
pop local 3
push local 3
call Dog.Location 1
push constant 48
add
push local 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call Dog.Location 1
push constant 48
add
pop local 2
push local 1
pop local 0
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
push local 4
call Element.getNext 1
pop local 4
goto WHILE_EXP0
label WHILE_END0
push local 2
call Dog.Change_leftWall 1
pop temp 0
push local 0
return
function Theme.getTargetBadDog 6
push argument 0
pop pointer 0
push constant 340
pop local 3
push this 6
call LinkedList.getFront 1
pop local 5
push constant 0
pop local 2
label WHILE_EXP0
push local 5
push constant 0
eq
not
not
if-goto WHILE_END0
push local 5
call Element.getData 1
pop local 4
push local 4
call Dog.Location 1
push local 3
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
call Dog.Location 1
pop local 3
push local 2
pop local 1
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
push local 5
call Element.getNext 1
pop local 5
goto WHILE_EXP0
label WHILE_END0
push local 3
call Dog.Change_rightWall 1
pop temp 0
push local 1
return
function Theme.run 9
push argument 0
pop pointer 0
push constant 1
neg
pop local 7
push constant 150
call Dog.Change_y 1
pop temp 0
push constant 20
call Castle.Change_y 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 50
call Sys.wait 1
pop temp 0
push this 6
call LinkedList.size 1
push constant 5
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 12
push constant 1
add
pop this 12
push this 13
push constant 1
add
pop this 13
push this 14
push constant 1
add
pop this 14
push this 9
not
push this 12
push constant 50
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 9
push this 6
push constant 0
push constant 0
call Dog.new 2
call LinkedList.push 2
pop temp 0
push constant 0
pop this 12
label IF_FALSE1
push this 9
push this 12
push constant 200
eq
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 12
push this 6
push constant 0
push constant 0
call Dog.new 2
call LinkedList.push 2
pop temp 0
label IF_FALSE2
push this 10
not
push this 13
push constant 1000
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop this 10
push this 6
push constant 0
push constant 0
call Dog.new 2
call LinkedList.push 2
pop temp 0
push constant 0
pop this 13
label IF_FALSE3
push this 10
push this 13
push constant 120
eq
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop this 13
push this 6
push constant 0
push constant 0
call Dog.new 2
call LinkedList.push 2
pop temp 0
label IF_FALSE4
push this 11
not
push this 12
push constant 2000
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop this 11
push this 6
push constant 1
push constant 0
call Dog.new 2
call LinkedList.push 2
pop temp 0
push constant 0
pop this 14
label IF_FALSE5
push this 11
push this 14
push constant 200
eq
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
pop this 14
push this 6
push constant 1
push constant 0
call Dog.new 2
call LinkedList.push 2
pop temp 0
label IF_FALSE6
label IF_FALSE0
push pointer 0
call Theme.getTargetDog 1
pop local 4
push this 5
push local 4
call LinkedList.getElement 2
pop local 2
push pointer 0
call Theme.getTargetBadDog 1
pop local 5
push this 6
push local 5
call LinkedList.getElement 2
pop local 3
push this 5
call LinkedList.getFront 1
pop local 0
label WHILE_EXP1
push local 0
push constant 0
eq
not
not
if-goto WHILE_END1
push local 0
call Element.getData 1
pop local 1
push local 1
call Dog.act 1
pop local 6
push local 6
push constant 0
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 3
push constant 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 4
push local 6
call Castle.damage 2
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
call Screen.clearScreen 0
pop temp 0
call Display.win 0
pop temp 0
call Sys.halt 0
pop temp 0
label IF_FALSE9
goto IF_END8
label IF_FALSE8
push local 3
push local 6
call Dog.TakeAnyDamage 2
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 6
push local 5
call LinkedList.pop 2
pop temp 0
push pointer 0
call Theme.getTargetBadDog 1
pop local 5
push this 6
push local 5
call LinkedList.getElement 2
pop local 3
label IF_FALSE10
label IF_END8
label IF_FALSE7
push local 0
call Element.getNext 1
pop local 0
goto WHILE_EXP1
label WHILE_END1
push this 6
call LinkedList.getFront 1
pop local 0
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
push local 0
call Element.getData 1
pop local 1
push local 1
call Dog.act 1
pop local 6
push local 6
push constant 0
gt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 2
push constant 0
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 3
push local 6
call Castle.damage 2
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
call Screen.clearScreen 0
pop temp 0
call Display.gameOver 0
pop temp 0
call Sys.halt 0
pop temp 0
label IF_FALSE13
goto IF_END12
label IF_FALSE12
push local 2
push local 6
call Dog.TakeAnyDamage 2
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 5
push local 4
call LinkedList.pop 2
pop temp 0
push pointer 0
call Theme.getTargetDog 1
pop local 4
push this 5
push local 4
call LinkedList.getElement 2
pop local 2
label IF_FALSE14
label IF_END12
label IF_FALSE11
push local 0
call Element.getNext 1
pop local 0
goto WHILE_EXP2
label WHILE_END2
push this 8
call Money.add 1
pop temp 0
push this 7
call GameUI.getopt 1
pop local 7
push local 7
not
push this 5
call LinkedList.size 1
push constant 5
lt
and
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 7
push constant 0
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 8
push constant 10
call Money.sub 2
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 5
push constant 0
push constant 0
not
call Dog.new 2
call LinkedList.push 2
pop temp 0
label IF_FALSE17
goto IF_END16
label IF_FALSE16
push this 8
push constant 30
call Money.sub 2
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push this 5
push constant 1
push constant 0
not
call Dog.new 2
call LinkedList.push 2
pop temp 0
label IF_FALSE18
label IF_END16
label IF_FALSE15
call Screen.clearScreen 0
pop temp 0
call Display.goodCastle 0
pop temp 0
call Display.badCastle 0
pop temp 0
push this 5
call LinkedList.getFront 1
pop local 0
label WHILE_EXP3
push local 0
push constant 0
eq
not
not
if-goto WHILE_END3
push local 0
call Element.getData 1
pop local 1
push local 1
call Dog.show 1
pop temp 0
push local 0
call Element.getNext 1
pop local 0
goto WHILE_EXP3
label WHILE_END3
push this 6
call LinkedList.getFront 1
pop local 0
label WHILE_EXP4
push local 0
push constant 0
eq
not
not
if-goto WHILE_END4
push local 0
call Element.getData 1
pop local 1
push local 1
call Dog.show 1
pop temp 0
push local 0
call Element.getNext 1
pop local 0
goto WHILE_EXP4
label WHILE_END4
push this 7
call GameUI.display 1
pop temp 0
push this 8
call Money.draw 1
pop temp 0
push this 3
call Castle.draw 1
pop temp 0
push this 4
call Castle.draw 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Theme.dispose 0
push argument 0
pop pointer 0
push this 3
call Castle.dispose 1
pop temp 0
push this 4
call Castle.dispose 1
pop temp 0
push this 5
call LinkedList.dispose 1
pop temp 0
push this 6
call LinkedList.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
